{% extends "layout.html" %}
{% block title %}
   Log In
{% endblock %}
{% block about %}
    <nav class="navbar1">
        <div class="navbar-brand">
        <h1 class="brand-text1">
            <span class="blue">₹</span>
            <span class="blue">P</span>
            <span class="blue">a</span>
            <span class="blue">i</span>
            <span class="blue">s</span>
            <span class="blue">a</span>
            <span class="green">Tracker</span>
        </h1>
        </div>
    </nav>
    <nav class="navbar">
    </nav>

    <div class="description-container">
    <p class="description-line">PaisaTracker is your all-in-one money management solution.</p>
    <p class="description-line">Effortlessly track income and expenses.</p>
    <p class="description-line">Create detailed budgets to reach your savings goals.</p>
    <p class="description-line">Gain valuable insights into your spending habits.</p>
    <p class="description-line">Make informed financial decisions.</p>
    <p class="description-line">Take control of your financial future with PaisaTracker.</p>
    </div>

{% endblock %}