{% extends "layout.html" %}
{% block title %}
   Log In
{% endblock %}
{% block main %}
     <body>
        <h3>Hey, Enter your email</h3>
        <div class="form-container">
            <form action="/mail_sent" method="post" class="p-3 m-0 border-0  custom-form-width" >
                <!-- Example Code -->

                <div class="form-floating row mb-3">
                <input type="email" class=" col-4 form-control" id="floatingInput" name="email" placeholder="name@example.com" fdprocessedid="r5rprk">
                <label for="floatingInput">Email address</label>
                </div>
                <div class="row d-grid gap-2 col-6 mx-auto mb-3">
                    <button class="btn btn-primary" type="submit">Send OTP</button>
                </div>

            </form>
        </div>
    </body>
{% endblock %}