
{% extends "layout.html" %}
{% block title %}
   Log In
{% endblock %}
{% block main %}
    <body>
      {% if message %}

          <!-- <h3>{{ message }}</h3> -->
          <div class="alert alert-danger" role="alert">
            {{message}}
          </div>
        {% else %}
        <h3>Hey, Register Here</h3>
        {% endif %}

      <div class="form-container">
            <form action="/register" method="post" class="p-3 m-0 border-0 custom-form-width">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="name" placeholder="name" >
                  <label>Name</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" name="email" placeholder="name@example.com" >
                  <label >Email address</label>
                </div>

                <div class="form-floating mb-3">
                  <input type="password" class="form-control" name="password" placeholder="Password">
                  <label>Password</label>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto mb-3">
                  <button class="btn btn-primary" type="submit">Register</button>
                 <p>Already Registered? <a  href="/login">Log In</a></p>
                </div>
            </form>
          </div>
        </body>


{% endblock %}
