
/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/* body, html {
    height: 100%;
    margin: 0;
} */
.custom-form-width {
    width: 50%; /* Adjust the width as needed */
    max-width: 500px; /* Optional: limit the maximum width */
}
.navbar1 {
    text-align: center; /* Centers the navbar content */
    margin-bottom: 20;
    padding:20px 0;


  }

  .brand-text1 {
    display: inline-block; /* Makes the text inline-block for better centering */
    font-size: 50px;
  }

  .blue {
    color: blue;
  }

  .green {
    color: green;
  }
 .description-container {
    text-align: center;
    max-width: 600px; /* Adjust max width as needed */
    margin: 0 auto;
    font-size: 17px;
  }

 .description-line {
    margin-bottom: 5px; /* Adjust margin as needed */
  }