{% extends "layout.html" %}
{% block title %}
   Log In
{% endblock %}

{% block main %}
<h4>Hey Welcome, {{user_name}}</h4>
<body>
  <h4>Update your daily expenses</h4>
  <form action="/home" method="post" class="p-3 m-0 border-0 bd-example m-0 border-0 row g-3">
    <div class="col-md-3">
      <label for="validationDefault01" class="form-label">Category</label>
      <select name="category" class="form-control" id="validationDefault01" required fdprocessedid="zmeyw">
        <option value="" disabled selected>Select category</option>
        <option value="income">income</option>
        <option value="expense">expense</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="validationDefault02" class="form-label">Amount</label>
      <input type="text" name="amount" class="form-control" id="validationDefault02" value="" required fdprocessedid="c4wq9b" placeholder="₹">
    </div>
    <div class="col-md-3">
      <label for="validationDefault02" class="form-label">Description</label>
      <input type="text" name="description" class="form-control" id="validationDefault02" value="" required fdprocessedid="c4wq9b" placeholder="Shopping...">
    </div>
    <div class="col-md-3">
      <label for="validationDefault02" class="form-label">Date</label>
      <input type="date" name="date" class="form-control" id="validationDefault02" required fdprocessedid="c4wq9b">
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit" fdprocessedid="rkae69">Add Data</button>
    </div>
  </form>
</body>

<table class="table">
  <tcaption><h4>Last 5 Transactions</h4></tcaption>
  <thead>
    <tr>
      <th scope="col">Trans_id</th>
      <th scope="col">Date</th>
      <th scope="col">Category</th>
      <th scope="col">Amount</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    {% for row in expenses_table %}
      <tr>
        <th scope="row">{{row.expense_id}}</th>
        <td>{{row.date}}</td>
        <td>{{row.category}}</td>
        <td>{{row.amount}}</td>
        <td>{{row.description}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}